html,body,div,canvas{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
#myCanvas{
    background: #44f6f6
}
.moveContainer{
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.moveContainer .touchBk{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #000;
    opacity: 0.3;
}
.moveContainer .touch{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    background: #000;
    opacity: 0.6;
}
.foodScreen{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
}
.foodScreen .foodItem{
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}
#foodCanvas{
    width: 100%;
    height: 100%;
}